.table-page {
    padding: 10px;
    table {
        border-collapse: collapse;
        font-size: 14px;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 100%;

        thead tr {
            background-color: gray;
            color: #ffffff;
            text-align: left;
            th {
                padding: 15px 10px;
            }
        }

        tbody tr {
            border-bottom: 1px solid #dddddd;
            td {
                padding: 3px 10px;
            }
            tr:nth-of-type(even) {
                background-color: #f6f6f6;
            }
        }
            
        .table-icon {
            width: 30px;
            border-radius: 50%;
        }
    }
    .table-data-null {
        height: 94vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}