.home {
    width: 100vw;
    height: calc(100vh - 43px);
    display: flex;
}

.home-sidebar {
    background: #D0D3D4;
    flex: 2;
    width: 100%;
    min-width: 15%;
    overflow: auto;
    scroll-behavior: smooth;
}

.home-page {
    background: #f2f2f2;
    flex: 10;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}