.table-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    .table-view {
        width: 100%;
        table {
            border-collapse: collapse;
            font-size: 14px;
            font-family: sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            width: 100%;
            thead tr {
                background-color: #4bbd7f;
                color: #ffffff;
                text-align: left;
            }
            
            th, td {
                padding: 10px 15px;
            }
            
            tbody tr {
                border-bottom: 1px solid #dddddd;
            }
            
            tbody tr:nth-of-type(even) {
                background-color: #f6f6f6;
            }
            
            tbody tr:last-of-type {
                border-bottom: 2px solid #4bbd7f;
            }
            
            tbody tr.active-row {
                font-weight: bold;
                color: #4bbd7f;
            }
            
            td:first-child input {
                width: 50px;
            }
            
            td:nth-child(2) input {
                width: 120px;
            }
            
            .edit-cell-container button {
                border-radius: 50px;
                height: 26px;
                width: 26px;
                border: 1px solid #ccc;
            }
            
            .footer-buttons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 7px;
            }
            
            .add-button {
                color: #4bbd7f;
            }
            
            .remove-button {
                color: #e44747;
            }
            
            .footer-buttons button {
                border: none;
                background-color: transparent;
            }
            
            .edit-cell-action button[name='edit'] {
                color: #ffb918;
            }
            
            .edit-cell-action button[name='cancel'] {
                color: #7b7b7b;
            }
            
            .edit-cell-action button[name='done'] {
                color: #4bbd7f;
            }
            
            .edit-cell-action button[name='remove'] {
                color: red;
                background-color: rgb(230, 208, 208);
            }
            
            input, select {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 5px;
            }
            
            .edit-cell-action {
                display: flex;
                gap: 5px;
            }
            
            .edit-cell-container {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 4px;
            }
            
            input[type='checkbox'] {
                width: 16px;
                height: 16px;
            }
        }
    }

    .editable-json {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin: 0px 5px;
        padding: 0px 5px;
    }
}
