.products-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    .product {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid grey;
        width: 30%;
        margin-top: 10px;
        gap: 10px;
        .product-image {
            height: 200px;
            object-fit: cover;
        }
        .product-title-price {
            display: flex;
            justify-content: space-between;
        }
        .product-remove-btn {
            padding: 5px;
            border: 0;
            border-radius: 5px;
            background-color: #e53935;
            color: white;
        }
        .product-add-btn {
            padding: 5px;
            border: 0;
            border-radius: 5px;
            background-color: green;
            color: white;
        }
    }
}