.make-sidebar-container {
  position: relative;
  .sidebar {
    height: 100vh;
    background-color: lightblue;
    // position: fixed;
    // top: 0;
    // left: 0;
    // padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
  }

  .sidebar-toggle-btn-open {
    background: red;
    display: flex;
    justify-content: end;
    padding: 10px;
  }

  .sidebar-toggle-btn-close {
    background: red;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .sidebar.open {
    width: 250px;
  }

  .sidebar.closed {
    width: 0;
  }

  .sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0;
  }

  .sidebar li {
    padding: 10px 20px;
    cursor: pointer;
  }

  .sidebar li:hover {
    background-color: #ddd;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .sidebar.open {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar.closed {
      width: 0;
      height: auto;
      position: relative;
    }
    .sidebar ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
