.add-User-list-page {
    margin: 10px;
    .table-div {
        max-height: 75vh;
        overflow: auto;
        .table-style {
            border-collapse: collapse;
            width: 100%;
            th {
                border: 1px solid #ddd;
                padding: 8px 4px;
                background-color: lightblue;
            }
    
            .table-body-users {
                background-color: white;
                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }
                tr:hover { 
                    background-color: #ddd;
                }
                td {
                    border: 1px solid #ddd;
                    padding: 4px;
                }
            }
            .user-icon-style {
                width: 40px;
                border-radius: 50%;
            }
        }
    }
    .add-user-action {
        border: 1px solid #ddd;
        padding: 10px 4px;
        background-color: white;
    }
}